body {
  background-color: #232323;
}

.square {
  width: 30%;
  background: white;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius:15%;
}

#container {
  margin: 0 auto;
  max-width:35%;
}

h1 {
  margin: 0 auto;
  color: white;
}

#stripe{
  background: white;
  text-align: center;
  height: 30px;
  color: black
}

button {
  border: none;
  background-color: none;
}
